<mat-card class="login-card">
    <mat-card-header class="login-card-header">
        <mat-card-title>Welcome back</mat-card-title>

    </mat-card-header>
    <p class="loginTitle">Login to your account</p>
    <mat-card-content>
        <form>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Phone Number</mat-label>
                <input matInput type="tel" placeholder="Enter your phone number" [(ngModel)]="phoneNumber"
                    name="phoneNumber" required>
            </mat-form-field>
            <div class="button-group">
                <button mat-raised-button class="getOtpBtn" type="submit" (click)="toggleOtpPage()">Get OTP</button>
            </div>
            <p>Don’t have an Account? <a (click)="toggleSignUpPage()">Create Account</a></p>
        </form>
    </mat-card-content>
</mat-card>