<app-dash-cards></app-dash-cards>

<div class="card-container">
    <mat-card class="custom-card" style="width: 600px;">
        <mat-card-header>
            <mat-card-title>Recent Transactions</mat-card-title>

        </mat-card-header>
        <mat-card-content>
            <p class="date">06-05-2024</p>
            <mat-card class="transactionCard">
                <mat-card-header>Pradnesh Vedpathak</mat-card-header>
                <mat-card-content class="transactionCardContent">
                    <div>
                        <p>16,000</p>
                        <small>Interest</small>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="transactionCard">
                <mat-card-header>Pradnesh Vedpathak</mat-card-header>
                <mat-card-content class="transactionCardContent">
                    <p>16,000</p>
                    <small>Interest</small>
                </mat-card-content>
            </mat-card>

            <mat-card class="transactionCard">
                <mat-card-header>Pradnesh Vedpathak</mat-card-header>
                <mat-card-content class="transactionCardContent">
                    <p>16,000</p>
                    <small>Interest</small>
                </mat-card-content>
            </mat-card>

            <mat-card class="transactionCard">
                <mat-card-header>Pradnesh Vedpathak</mat-card-header>
                <mat-card-content class="transactionCardContent">
                    <p>16,000</p>
                    <small>Interest</small>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>

    <mat-card class="custom-card" style="width: 600px;">
        <mat-card-header>
            <mat-card-title>Upcoming Dues</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="date">07-05-2024</p>
            <mat-card class="transactionCard">

                <mat-card-header>Pradnesh Vedpathak</mat-card-header>
                <mat-card-content class="transactionCardContent">
                    <div>
                        <p>16,000</p>
                        <mat-icon>delete</mat-icon>
                        <mat-icon>edit</mat-icon>
                        <mat-icon>message</mat-icon>
                    </div>
                </mat-card-content>
            </mat-card>


            <mat-card class="transactionCard">
                <mat-card-header>Pradnesh Vedpathak</mat-card-header>
                <mat-card-content class="transactionCardContent">
                    <p>16,000</p>
                    <mat-icon>delete</mat-icon>
                    <mat-icon>edit</mat-icon>
                    <mat-icon>message</mat-icon>
                </mat-card-content>
            </mat-card>

            <mat-card class="transactionCard">
                <mat-card-header>Pradnesh Vedpathak</mat-card-header>
                <mat-card-content class="transactionCardContent">
                    <p>16,000</p>
                    <mat-icon>delete</mat-icon>
                    <mat-icon>edit</mat-icon>
                    <mat-icon>message</mat-icon>
                </mat-card-content>
            </mat-card>

            <mat-card class="transactionCard">
                <mat-card-header>Pradnesh Vedpathak</mat-card-header>
                <mat-card-content class="transactionCardContent">
                    <p>16,000</p>
                    <mat-icon>delete</mat-icon>
                    <mat-icon>edit</mat-icon>
                    <mat-icon>message</mat-icon>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>

    <mat-card class="custom-card" style="width: 220px;">
        <mat-card class="mainShortcutCard">
            <mat-card-header>
                Shortcut
            </mat-card-header>
            <mat-card-content>
                <mat-card class="shortcutCard">
                    <mat-card-content>Add Loan</mat-card-content>
                </mat-card>

                <mat-card class="shortcutCard">
                    <mat-card-content>Close Loan</mat-card-content>
                </mat-card>

                <mat-card class="shortcutCard">
                    <mat-card-content>Add Customer</mat-card-content>
                </mat-card>

                <mat-card class="shortcutCard">
                    <mat-card-content>Add Transaction</mat-card-content>
                </mat-card>

            </mat-card-content>
        </mat-card>


        <mat-card class="reportCard">
            <mat-card-header>
                Download Report
            </mat-card-header>
            <mat-card-content>
                <mat-card class="report">
                    <mat-card-content>Customer List</mat-card-content>
                </mat-card>

                <mat-card class="report">
                    <mat-card-content>Loans</mat-card-content>
                </mat-card>

                <mat-card class="report">
                    <mat-card-content>Transactions</mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </mat-card>
</div>