<mat-toolbar class="mat-elevation-z6">
    <button mat-icon-button class="hamburger-button">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="title">Sone Taran</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="notiIcon" matBadge="7" matBadgeSize="large">
        <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button class="personIcon" [routerLink]="['/profile']">
        <mat-icon>person</mat-icon>
    </button>
</mat-toolbar>