<div class="card-container">
    <mat-card class="custom-card">
        <mat-card-header>
            <mat-card-title>Total Interest</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>23,000</p>
            <small>Received: 12,000</small><br>
            <small>Pending: 8,000</small>
        </mat-card-content>
    </mat-card>

    <mat-card class="custom-card">
        <mat-card-header>
            <mat-card-title>Total Principal</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>16,000</p>
            <small>Received: 12,000</small><br>
            <small>Pending: 8,000</small>
        </mat-card-content>
    </mat-card>

    <mat-card class="custom-card">
        <mat-card-header>
            <mat-card-title>Total </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <small>Customers: 300</small><br>
            <small>Loans: 576</small><br>
            <small>Closed Loans: 243</small><br>
        </mat-card-content>
    </mat-card>

    <mat-card class="custom-card">
        <mat-card-header>
            <mat-card-title>Total Weight</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <small>Gross: 100 gm</small><br>
            <small>Net: 100 gm</small>
        </mat-card-content>
    </mat-card>
</div>